---
layout: default
---

<div class="home">
  {%- if page.title -%}
   <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Welcome to Expert Questions!" }}</h2>
    In science and technology, each subject asks a unique set of questions that you need to keep in mind as you read research in that field. Knowing what these questions are is a key part of getting the most out of <a href="https://abranczyk.github.io/expert-questions/how-to-read-research-papers/">reading research papers</a>.
    <br><br>We bring you a curated collection of expert questions in a variety of topics in science and technology.  
    <br><br>
    <!-- <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul> -->

    {% include archive.html %}

    <br>
    <br>
    <h2>Contributing</h2>
    If you would like to propose a new set of expert questions, please do so <a href="https://github.com/abranczyk/expert-questions/issues/new?assignees=abranczyk&labels=question+submission&template=expert-question-submission.md&title=Insert+title%2C+e.g.+Single+photon+detectors">here</a>. 
    <br><br>
    You can find a list of already requested subjects <a href="https://github.com/abranczyk/expert-questions/issues?q=is%3Aissue+is%3Aopen+label%3A%22questions+request%22">here</a>.
    <br><br>
    If you would like to request a new subject, please do so <a href="https://github.com/abranczyk/expert-questions/issues/new?assignees=abranczyk&labels=question+request&template=expert-question-request.md&title=Insert+requested+subject%2C+e.g.+Quantum-to-classical+transition">here</a>.
    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
